// Background color
$white-color: #FFFFFF;
$black-color: #000000;
$white-smoke-color: #FFFFFF7A;
$dark-light-blue-background-color: #006BA6;
$dark-red-background-color: #D74d52;
$dark-blue-background-color: #1A252F;
$deep-blue-background-color: #192836;

// Text color
$red-text-color: #FF3A2D;
$blue-text-color: #192836;
$orange-text-color: #F28202;
$dark-blue-text-color: #006BA6;
$dark-red-text-color: #D74d52;
$light-green-text-color: #3ADC79;
$light-blue-gray-text-color: #A3B5CA;