// Background color
$white-color: #FFFFFF;
$black-color: #000000;
$white-smoke-color: #FFFFFF7A;
$dark-red-background-color: #D74D52;

// Text color
$red-text-color: #FF3A2D;
$blue-text-color: #192836;
$orange-text-color: #F28202;
$dark-red-text-color: #D74D52;
$light-green-text-color: #3ADC79;